#wrapper{
    background:white;
    margin:0 auto;
    border:1px solid #f0e9eb;
}
body {
    padding: 0;
    margin: 0;
}
/* map for mobile*/
#map {
    height: 350px;
    margin: 12px 48px;
}
@media only screen and (min-width: 1024px) {
    /* For desktop: */
    #map {height: auto;}
    
/* Changing Bulma CSS framework default Colours*/
    .notification {
        background-color: #EFEFEF;
    }

.footer{ 
    background-color: #6C7574;
    color:#fff;
    }

    /*
.is-danger{
    background-color: #CC6D7F;
    }
.is-warning{
    background-color: #F5E679;
    }
#97CFD4 cotton blue
#EFB6B7 pink
#4C6D9D blue dark
#6C7574 smoke grey


*/




