#date{
    position:absolute;
    left:35%;
    top:50%;
    font-size:60px;
    color:azure;
}
form{
    color:darkslategray;
    background-color: gainsboro;
}
body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 400px;
}