#date{
    position:absolute;
    left:35%;
    top:50%;
    font-size:60px;
    color:azure;
}
form{
    color:darkslategray;
    background-color: gainsboro;
    margin-left: 20%;
    margin-right: 20%;
    padding: 5% 5%;
}
