#wrapper{
    background:white;
    margin:0 auto;
    border:1px solid #f0e9eb;
}

#date{
    position:absolute;
    left:35%;
    top:40%;
    font-size:60px;
    color:azure;
}
form{
    color:darkslategray;
    background-color: gainsboro;
}
body {
    padding: 0;
    margin: 0;
}
/*for mobile*/
#map {
    height: 350px;
    margin:12px 0px;
}
@media only screen and (min-width: 800px) {
    /* For desktop: */
    #map {height: auto;}



#footerContainer{
    background:#00C4A7;
}