#wrapper{
    background:white;
    margin:0 auto;
    border:1px solid #f0e9eb;
}
body {
    padding: 0;
    margin: 0;
}
/* map for mobile*/
#map {
    height: 350px;
    margin: 12px 48px;
}
@media only screen and (min-width: 1024px) {
    /* For desktop: */
    #map {height: auto;}
    
/* Changing Bulma CSS framework default Colours*/
    .notification {
        background-color: #EFEFEF;
    }
.navbar.is-primary {
    background-color: #4C6D9D;
    }
.button.is-primary{
    background-color: #4C6D9D;
    }
.button.is-info{
    background-color: #EFB6B7;   
    }
.footer{ 
    background-color: #6C7574;
    color:#fff;
    }
.tag.is-medium.is-primary{
    background-color: #4C6D9D;
    }

        
    
/*
.is-danger{
    background-color: #CC6D7F;
    }
    
.is-warning{
    background-color: #F5E679;
    }

#97CFD4 cotton blue
#EFB6B7 pink
#4C6D9D blue dark
#6C7574 smoke grey


/*BULMA CSS CHANGED*/
  .navbar.is-primary .navbar-end > a.navbar-item:hover,
  .navbar.is-primary .navbar-end > a.navbar-item.is-active,
  .navbar.is-primary .navbar-end .navbar-link:hover,
  .navbar.is-primary .navbar-end .navbar-link.is-active {
    background-color: #99CED5;
    color: #fff;
  }

.button.is-primary:hover{
  background-color: #99CED5;
  border-color: transparent;
  color: #fff;
}

.timeline-header.tag is-medium is-primary{
    background-color: #4C6D9D
}
.button.is-info:hover{
  background-color: #CC6D7F;
  border-color: transparent;
  color: #fff;
}





